footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 52px 24px 38px;
    background-color: #101010;
    color: #FFFFFF;

    .logo-links{
        .logo{
            margin-bottom: 48px;
        }

        ul{
            display: flex;
            flex-direction: column;
            gap: 1rem;
            list-style: none;
            
            li{
                text-align: center;
                a{
                    font-weight: 700;
                    font-size: 13px;
                    line-height: 25px;
                    letter-spacing: 2px;
                    text-transform: uppercase;
                    color: white;
                    text-decoration: none;
                }
            }
        }
    }

    .excerpt{
        margin: 48px 0;
        max-width: 479px;
    }

    p{
        font-weight: 500;
        font-size: 15px;
        line-height: 25px;
        text-align: center;
        mix-blend-mode: normal;
        opacity: 0.5;
    }

    .copyright-socials{
        ul{
            display: flex;
            align-items: center;
            justify-content: center;
            list-style: none;
            gap: 1rem;
            margin-top: 3rem;
        }
    }
}

@media only screen and (min-width: 768px){
    footer{
        padding: 60px 40px 46px;

        .logo-links{
            width: 100%;
            max-width: 750px;
            .logo{
                margin-bottom: 32px;
            }

            ul{
                gap: 0 34px;
                flex-direction: row;
            }
        }

        .excerpt{
            max-width: 750px;
            margin: 32px 0 80px;
            text-align: start;

            p{
                text-align: start;
            }
        }

        .copyright-socials{
            display: flex;
            align-items: center;
            width: 100%;
            justify-content: space-between;
            max-width: 750px;

            ul{
                margin-top: 0;
            }
        }
    }
}

@media only screen and (min-width: 1024px){
    footer{
        align-items: start;
        padding: 75px 32px 48px;

        .logo-links{
            display: flex;
            justify-content: space-between;
            max-width: 1142px;
            margin: 0 auto;
        }

        .excerpt{
            max-width: 1142px;
            width: 100%;
            margin: 32px auto 56px;

            p{
                max-width: 540px;
            }
        }

        .copyright-socials{
            max-width: 1142px;
            align-items: end;
            margin: 0 auto;

            ul{
                transform: translateY(-88px);
            }
        }
    }
}